:root {
    --monitor-highlight: #8439CE;
    --monitor-highlight-border: #6136a8;
    --monitor-disabled: var(--lns-color-disabledContent);
    --monitor-border: #ddd;
    --monitor-background-dark: #363636;
}

.monitor-menu-trigger {
    transition: .3s;
    position: fixed;
    bottom: 0;
    right: 20px;
    border: 1px solid var(--monitor-highlight-border);
    background: var(--monitor-highlight);
    color: #fff;
    border-bottom: none;
    padding: 10px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.monitor-menu-trigger:hover {
    color: var(--monitor-highlight);
    background: #fff;
    box-shadow: 0 0 0 4px rgba(132, 57, 206, .5);
}

.monitor-sidebar {
    box-shadow: none !important;
    border: none !important;
    background: #f8f8f8 !important;
    padding: 10px 5px;
}

.monitor-sidebar .item {
    font-size: 16px;
    margin: 2px 5px;
    transition: .2s !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 8px !important;
}

.monitor-sidebar .item:before {
    background: rgba(0, 0, 0, 0) !important;
}

.item-inner {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.monitor-sidebar .item:hover > .item-inner, .monitor-sidebar .item.active > .item-inner {
    border-left: 4px solid var(--monitor-highlight) !important;
}

.monitor-sidebar .item i.fas {
    width: 2em;
    margin-right: 5px;
    text-align: center;
    color: rgba(0, 0, 0, .7);
}

.monitor-sub-sidebar {
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100vw - 260px) !important;
    background: #fff;
    padding: 20px !important;
}

.monitor-sub-sidebar .container {
    margin-top: 20px;
}

.monitor-sub-sidebar > .header {
    margin-bottom: 20px !important;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--monitor-border);
    font-weight: 400 !important;
}

.monitor-sub-sidebar > .header i.fas {
    color: rgba(0, 0, 0, .7);
    margin-right: 5px;
}

.query-accordion {
    overflow: hidden;
}

.query-accordion .title, .query-accordion pre {
    padding: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

.query-accordion .sql {
    padding: 15px;
    white-space: pre-wrap;
    display: none;
}

.query-accordion .sql.translated {
    display: block;
}

.query-accordion h4.header:first-child {
    padding-top: 10px;
}

.query-cell {
    min-width: 600px !important;
}

.ui.table tr td {
    border-top: 1px solid rgba(34,36,38,.1) !important;
}

.none {
    color: var(--monitor-disabled);
}

.monitor-bottom-menu .query-popup {
    max-height: 100vh;
    overflow-y: scroll;
}